@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;1,700&family=Roboto:wght@100;300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Baloo Bhai 2', cursive; */

/* font-family: 'Poppins', sans-serif; */

/* Navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray;
}
.nav-link {
  font-weight: 300 !important;
}
.active {
  border-bottom: 1px solid black;
}
.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
  color: rgb(36, 141, 106);
}
.navbar-brand img {
  width: 50px;
}

.footer {
  color: whitesmoke;
  background: black;
  padding: 25px;
  background: -webkit-linear-gradient(to right, #434343, black);
  background: linear-gradient(to right, #434343, black);
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover {
  color: cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title {
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading {
  font-weight: normal;
}
.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-link {
  text-decoration: none;
  color: black;
}
